.app {
    height: 100%;
    display: grid;
    gap: 6px;
    grid-template-columns: 1fr 2fr; 
    border: 1px solid #1212D2;
    padding: 8px;
    box-shadow: 10px 10px 0px 0px #1212D2
}

.users {
    display: flex;
    flex-direction: column;
    gap: 4px;

    &-item {
        height: 50px;
        border: 1px solid #1212D2;
        cursor: pointer;
        display: flex;
        align-items: center;
        padding-left: 8px;
        
        &.selected {
            background-color: lightblue;
        }
    }
}

.content {
    border: 1px solid #1212D2;
}